<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.jabadehut.phonegapTutorial.APPLICATION" version="1.0.0" versionCode="1">
	<name>Contact App</name>
	<description>
        Just an implementation of http://coenraets.org/blog/phonegap-tutorial/
    </description>
	<author href="https://www.google.com/+JeffFinleyJabadeHut" email="jabad3hut@gmail.com">Jeff Finley</author>
	
	<!-- setting the device screen orientation to the default which will allow both landscape and portrait if the device is set to rotate -->
	<preference name="orientation" value="default" />
	<!-- setting the platforms that I want to build the apps for --> 
	<gap:platform name="android"/>
	<gap:platform name="winphone"/>
	<!-- the features that I want to use -->
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	
	<!--
	      This allows your app to load assets from all domains
	    -->
	    <access origin="*" />
</widget>
